#htmlCode {
  border-radius: 5px 5px 5px 5px;
  background-color: #fefae0;
  box-shadow: 1px 1px 10px 2px #d4a373;
  width: 90%;
  max-width: 800px;
  min-height: 300px;
  overflow: hidden;

  #preview {
    padding-left: 3rem;
    padding-right: 3rem;


    // Markdown text style

    pre {
      background-color: white;
      overflow: scroll;
    }

    table {
      border: 1px solid black;
      text-align: left;
      width: 80%;

      th {
        border: 1px solid black;
      }

      td {
        border: 1px solid black;
      }
    }

    @media screen and (max-width: 530px) {
      ul {
        padding-left: 15px;
      }

      ol {
        padding-left: 15px;
      }
    }

  }

  img {
    width: 100%;
  }

  // End markdown style
}