#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  box-shadow: 1px 1px 10px 2px #dda15e;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-bottom: 2rem;

  #editor {
    height: 200px;
    background-color: #fefae0;
    border-style: none;
  }
}